<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="nancy">
    <link rel="icon" href="https://v3.bootcss.com/favicon.ico">
    {% block page_css %}

    {% endblock %}

    <title>客户展示页面</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/rbac_menu.css' %}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Knight Plan</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {#<li><a href="/login/">登录</a></li>#}
                {#<li><a href="/register/">注册</a></li>#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ request.user.name }}<i class="caret"></i></a>
                    {# aria-haspopup :true表示点击的时候会出现菜单或是浮动元素； false表示没有pop-up效果。#}
                    {# aria-expanded:表示展开状态。默认为undefined, 表示当前展开状态未知。其它可选值：true表示元素是展开的；false表示元素不是展开的。#}
                    <ul class="dropdown-menu">
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">未读消息 <span class="badge">4</span></a></li>
                        <li class="divider" role="separator"></li>
                        <li><a href="{% url 'logout' %}">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% load my_tags %}
                {% show_menu request %}
                {#                <li><a href="{% url 'customer_list' %}">客户列表</a></li>#}
                {#                <li><a href="{% url 'my_customer' %}">我的客户</a></li>#}
                {#                <li><a href="{% url 'consult_record_list' cid=0 %}">跟进记录</a></li>#}
                {#                <li><a href="{% url 'enrollment_list' customer_id=0 %}">查看报名表</a></li>#}
                {#                <li><a href="{% url 'class_list' %}">班级列表</a></li>#}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% bread_crumb request %}

            {% block page_main %}

            {% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
{% block page_js %}

{% endblock %}
</body>
</html>