{% extends 'base.html' %}

{% block page_main %}
    <h2 class="sub-header">客户列表</h2>
    <div class="row">
        <div class="col-md-3"><a href="{% url 'add_customer' %}" class="btn btn-success">添加</a></div>

        <form action="" method="get">
            <div class="col-md-4 col-md-offset-5">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" placeholder="请输入 <姓名、QQ、QQ昵称> 进行搜索">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div style="margin: 5px 0">
            <div class="input-group">
                <select name="action" class="form-control" style="width: 110px;">
                    <option value="">------------</option>
                    <option value="to_public">变为公户</option>
                    <option value="to_private">变为私户</option>
                </select>
                <span class="input-group-btn" style="width: auto">
                <button class="btn btn-primary" type="submit">提交</button>
            </span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>全选</th>
                    <th>#</th>
                    <th>QQ</th>
                    <th>QQ昵称</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>电话</th>
                    <th>客户来源</th>
                    <th>咨询课程</th>
                    <th>班级类型</th>
                    <th>状态</th>
                    <th>咨询日期</th>
                    <th>已报班级</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customer_list %}
                    <tr>
                        <td><input type="checkbox" value="{{ customer.id }}" name="cid"></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ customer.qq }}</td>
                        <td>{{ customer.qq_name }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.get_sex_display }}</td>
                        <td>{{ customer.phone|default:'暂无' }}</td>
                        <td>{{ customer.get_source_display }}</td>
                        <td>{{ customer.course }}</td>
                        <td>{{ customer.get_class_type_display }}</td>
                        <td>{{ customer.show_status }}</td>
                        <td>{{ customer.date }}</td>
                        <td>{{ customer.show_class_list|default:'暂无' }}</td>
                        <td><a href="{% url 'edit_customer' customer.id %}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </form>

    {% include 'pagination.html' %}

{% endblock %}
